.wrap{
	
	width: 900px;
	margin: 10px auto;
}
body{
	background-color: rgb(12, 3, 3);
}
 
/*bagian header*/
.wrap .header{
	/*height: 50px;*/
	padding: 2px 10px;
	background-color: silver;
    text-align: center;
    text-transform: uppercase;
    text-decoration: double;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background-color: black;
    
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
	color:white ;
}
 
.wrap .menu ul li a{
	
	
	padding: 10px;
	text-decoration: none;
	color:white ;
}
 
.wrap .menu ul li :hover{
	
	background-color: gray;
	text-decoration: underline;
	color:rgb(12, 238, 23) ;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 500px;
	background-color: gray;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	
	float: left;
	height: 100%;
	width: 75%;	
	margin-left: 20px;
}
.wrap .badan .content p h2{
	text-align: center;
}
 
.wrap .footer{
	font-size: 15px;
	color: white;
	padding: 10px;
	
}